@model Team_13st.Models.KhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <h3>Bạn có chắc muốn xóa tài khoản này?</h3>
                        <div>
                            <h4>KhachHang</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.TenKhachHang)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TenKhachHang)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DiaChi)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DiaChi)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TenDangNhap)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TenDangNhap)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MatKhau)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MatKhau)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SoDienThoai)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SoDienThoai)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <button class="btn btn-primary my-3" type="submit">Xóa</button>
                                    @Html.ActionLink("|  Quay lại", "Index")
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

